<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controllers.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>Controllers.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoBookServlet</servlet-name>
        <servlet-class>Controllers.InfoBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogAllBookServlet</servlet-name>
        <servlet-class>Controllers.CatalogAllBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllNewBooksServlet</servlet-name>
        <servlet-class>Controllers.AllNewBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllSoldBooksServlet</servlet-name>
        <servlet-class>Controllers.AllSoldBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllViewBooksServlet</servlet-name>
        <servlet-class>Controllers.AllViewBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-class>Controllers.ManageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBookServlet</servlet-name>
        <servlet-class>Controllers.ManageBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCatalogServlet</servlet-name>
        <servlet-class>Controllers.ManageCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controllers.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Controllers.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditServlet</servlet-name>
        <servlet-class>Controllers.AdminEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookCartServlet</servlet-name>
        <servlet-class>Controllers.DeleteBookCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartServlet</servlet-name>
        <servlet-class>Controllers.SaveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>Controllers.AddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryServlet</servlet-name>
        <servlet-class>Controllers.DeliveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountInfoServlet</servlet-name>
        <servlet-class>Controllers.AccountInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>Controllers.SearchBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoBookServlet</servlet-name>
        <url-pattern>/InfoBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogAllBookServlet</servlet-name>
        <url-pattern>/CatalogAllBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllNewBooksServlet</servlet-name>
        <url-pattern>/AllNewBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllSoldBooksServlet</servlet-name>
        <url-pattern>/AllSoldBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllViewBooksServlet</servlet-name>
        <url-pattern>/AllViewBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountServlet</servlet-name>
        <url-pattern>/ManageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBookServlet</servlet-name>
        <url-pattern>/ManageBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCatalogServlet</servlet-name>
        <url-pattern>/ManageCatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditServlet</servlet-name>
        <url-pattern>/AdminEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookCartServlet</servlet-name>
        <url-pattern>/DeleteBookCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartServlet</servlet-name>
        <url-pattern>/SaveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/AddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryServlet</servlet-name>
        <url-pattern>/DeliveryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountInfoServlet</servlet-name>
        <url-pattern>/AccountInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
